.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 60%;
  }

form label, 
form input,
form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.link-button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}