.card {
    background-color : lightgray;
    height: 16em;
    width: 40em;

    display: flex;
    flex-direction: column;
    padding: .5em;
}

.topSection {
    height: 30%;
    display: flex;
}

.bottomSection {
    border-top: medium dotted grey;
    margin-top: .5em;
    padding-top: .5em;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.centerButton {
    display: flex; 
    justify-content: center;
}

.bottomSection button {
    width: 7em;
}

.topSection > .leftLabels {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.leftLabels p {
    margin: 0;
}

.topSection > .rightLabels {
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rightLabels p {
    margin: 0;
}
